<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>

<body>

<div th:if="${username}">
    <h1>Hello, <label th:text="${username}">User!</label></h1>
</div>

<div>
    <h1>Here located main content and functionality of this application!</h1>
</div>

<div>
    <form method="post" action="/main">
        <input type="text" name="text" placeholder="Input your message">
        <input type="submit" value="Save new message">
    </form>
</div>

<div th:text="${message}"></div>
<div>
    <tr th:each="message: ${messages}">
        <p><td th:text="${message.text}" /></p>
    </tr>
</div>
<div>
    <form method="post" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>
</html>